* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

#grid{
    padding: 20px;
    margin:2px;
}